@import "../../../scss/variables";
.dropdown_wrapper {
    position: relative;
    .dropdown_list {
        position: absolute;
        top: 100%;
        min-width: 10rem;
        padding: 0.625rem 0;
        margin: 0 0 0 auto;
        text-align: left;
        display: block;
        background-color: $white;
        border-radius: 0.625rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        z-index: 1000;
        .dropdown_Item {
            width: 100%;
            display: block;
            color: #000000;
            text-align: left;
            padding: 0.313rem 1rem;
            border: 0;
            background-color: transparent;
            white-space: nowrap;
            clear: both;
            &:hover {
                cursor: pointer;
                text-decoration: none;
                background-color: $white;
            }
        }
    }
}